# Always use LF line endings on text files.  This avoids problems
# with CygWin on Windows.
* text eol=lf
# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ctxt binary
