# Automatically convert line endings
* text=auto
#
# Always use LF line endings on Bash scripts.  This avoids problems
# with CygWin on Windows.
DeadboltEdit/deadboltedit text eol=lf
DeadboltEdit/deadboltedit.bat text eol=crlf
tools/* text eol=lf
#
# Denote all files that are binary and should not be modified.
*.png binary
*.jpg binary
*.icns binary
*.ico binary
*.gif binary
*.ctxt binary
test/* binary
#
# Not really binary, but don't convert line endings
Config/Windows/* binary
Config/Windows/*/* binary
